header {
	background-image: url("./bg_image-1-mb.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
:root{
	--hheigth: 59px;
}
nav {
	width: 100%;
	border-bottom: 1px solid #2E3545;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--hheigth);
}
.buttons{
	display: flex;
	padding: 0 1rem;
	gap: 1rem;
	button:first-child{
		background-color: #437ff7e5;
		border: none;
		padding: 12px 18px;
		border-radius: 6px;
		color: white;
	}
	.manu_icon{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: .1rem;
		.block{
			background-color: #fff;
			padding: .2rem;
		}
	}
	button:last-child{
		display: flex;
		gap: 0.5rem;
		background: none;
		border: none;
		align-items: center;
	}
}
.colorLL{
	color: white ;
}
.colorLD{
	color: rgba(216, 216, 216, 0.83);
}
.title{
	padding: 0 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	a, a:visited, a:active{
		color: rgb(91, 91, 255);
		font-size: 1.2rem;
	}
	h1{
		font-size: 3.2rem;
	}
	p{
		font-size: 1.5rem;
	}
}
.fone_icon{
	align-self: start;
	margin: 2rem;
}
.burger_wraper{
	position: relative;
	.burger > .footer_manu{
		height: auto !important;
		top: 0 !important;
		display: flex;
		flex-direction: column;
		span{
			background-color: #151B28;
			width: 100%;
			text-align: center;
			padding: 4rem 0;
			font-size: 1.3rem;
			p{
				color: #a2a2a2;
			}
		}
	}
	.burger > .burger_manu{
		position: absolute;
		top: var(--hheigth);
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.manu{
			padding: 2rem;
			width: 100%;
			height: 100%;
			background-color: #151B28;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 2rem;
			text-align: center;
			li{ 
				font-size: 2rem;
				a, a:visited{
					color: white;
					text-decoration: none;
	
				}
				.underText{
					color: #A5ACBA;
					line-height: 5;
					font-size: 1.3rem;
				}
			}
			transition: .5s ease-in-out;
			transform: translateY(100vh);
			list-style-type: none;
	
			&.open{
				transform: translateY(0);
			}
		}
	}
}